<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'/>
    <title>Wedding of Huang Qi & Cai Qidan</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'></link>
    <link rel='stylesheet' href='/stylesheets/mobile.css'></link>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>

  <body class="background">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Mobile Site in Construction.</a>
      </div>
    </nav>
  </body>

</html>