<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="initial-scale = 1.0, user-scalable = no, maximum-scale=1">
  <title>Huang Qi & Cai Qidan's Wedding</title>
    
    <meta name="author" content="Ditto Residential">        
    <meta name="description" content="Ditto Residential is a property development company in Washington, DC. Excellence, innovation and design drive our team to build places that inspire.">
    <meta name="keywords" content="development, design, residential, build, DC, building, real estate, home, residential developer, dc residential developer" />
  <link rel="canonical" href="http://www.dittodc.com/" />
  <link rel="shortcut icon" href="favicon.ico">
    
    <!-- Font Definition -->
  <script type="text/javascript" src="//use.typekit.net/xtp5ail.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!-- End Fonts -->
  
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/grid.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/font-awesome.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/jquery.bxslider.css" type="text/css" media="screen">
  <script type="text/javascript" src="/js/modernizr.custom.19482.js"></script> <!-- Head Embed For Shiv -->
  
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="css/style-ie.css" />
  <![endif]-->
  
  <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/style-ie-lt9.css" />
  <![endif]-->
  
</head>
<body>
<div id="overlay"></div>
<div id="video-container">
  <!--
  <video preload id="ditto-video" width="640" height="360">
    <source src="media/video.webm" type="video/webm" />
    <source id="mobile-mp4" src="media/video-full.mp4" type="video/mp4" />  </video>
  -->
</div>
<!--<div id="debug" style="position:absolute;z-index:999999;top:0;left:0;"></div>-->
<div id="video-controls">
  <span class="glyphicon glyphicon-remove" id="close-video"></span>
</div>

<div class="slide-section destination" id="ditto1" page-slide="1" data-stellar-background-ratio="0.5">
  <div class="kontainer klearfix">
    
    <div class="on-center destination-up" id="center-control" page-slide="1">
      <div class="" id="center-content">
        <h1 class="sz-headline">Building Places That Inspire<span>.</span></h1>
        <h3 class="sz-description">Washington, DC</h3>
        <a href="javascript:void(0);" id="play-button"><span></span></a>
      </div>
    </div>

  </div>
</div>

<div class="menu">
  <div class="klearfix">
  
    <a href="http://www.dittodc.com/" id="logo" class="grid_3">
      <img src="img/ditto-logo.png">
    </a>
    
    <div id="nav" class="grid_9 omega">
      <div class="sliding-line" id="line-top"></div>
      <ul class="navigation">
        <li page-slide="2">About</li>
        <li page-slide="3">Work</li>
        <li page-slide="4">Team</li>
        <li page-slide="5">Press</li>
        <li page-slide="6">Connect</li>
        <li class="blog-link"><a href="http://dittodc.tumblr.com/">Blog</a></li>
      </ul>
      <div class="sliding-line" id="line-bottom"></div>
    </div>

  </div>
</div>

<div class="menu-mobile">
  <div id="connect-bar"><img src="img/ditto-logo.png"><span></span></div>
  <div id="connect-content">
    <a href="javascript:void(0);" class="slide-link" page-slide="1">Home</a>
    <a href="javascript:void(0);" class="slide-link" page-slide="2">About</a>
    <a href="javascript:void(0);" class="slide-link" page-slide="3">Work</a>
    <a href="javascript:void(0);" class="slide-link" page-slide="4">Team</a>
    <a href="javascript:void(0);" class="slide-link" page-slide="5">Press</a>
    <a href="javascript:void(0);" class="slide-link" page-slide="6">Connect</a>
    <a href="http://dittodc.tumblr.com/">Blog</a>
  </div>
</div>

<div class="kontainer klearfix"> <!-- down button -->
  <div id="down-arrow-container" class="grid_12 slide-link" page-slide="2"></div>
</div> <!-- end down button -->

<div class="slide-section destination" id="about" page-slide="2">
  <div class="kontainer klearfix">
    
    <div id="content" class="grid_12 destination-up" page-slide="2">
      <h2 class="sz-headline">Ditto Residential</h2>
      <p class="sz-content">
We are a property development company in Washington, DC. 
We are passionate. We are a team of dreamers, problem solvers and builders. We are changing our city's landscape through high quality, design-driven development. We build places that inspire. </p>
    </div>
    
  </div>
</div>



<div class="slide-section" id="ditto3">
  <div class="klearfix">
    
    <div id="ditto-slider" class="carousel fade" data-ride="carousel">
      <!-- Indicators -->
      <div id="carousel-indicator-container">
        <div class="sliding-line-carousel" id="line-top"></div>
        <ol class="carousel-indicators">
          <li data-target="#ditto-slider" data-slide-to="0" style="" class="active">Ditto</li>
          <li data-target="#ditto-slider" data-slide-to="1" style="">Development</li>
          <li data-target="#ditto-slider" data-slide-to="2" style="">Doctrine</li>
        </ol>
        <div class="sliding-line-carousel" id="line-bottom"></div>
      </div>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
            
            <div class="item active">
          <div class="carousel-caption" id="home-slide-1">
            <div class="grid_12 omega sz-content">
              <div class="carousel-image"><img src="img/about-ditto.png" width="219" height="150"></div>
              A Ditto product is distinguished by its attention to detail and painstaking design. We create value by designing and building innovative residences. We have challenged ourselves to produce spaces that demand a reaction, that are memorable and that cause people to rethink the kind environment in which they choose to live. 
              <br /><br />
              To create compelling buildings, we collaborate with top-tier architecture and design firms. We maximize our potential through continuous improvement and focused teamwork. 
            </div>
          </div>
        </div>
                
        <div class="item">
          <div class="carousel-caption" id="home-slide-1">
            <div class="grid_12 omega sz-content">
              <div class="carousel-image"><img src="img/about-development.png" width="268" height="150"></div>
              We gauge our success by producing extraordinary architecture and design that yield impressive returns to our investors, satisfy the high standards of our team and foster mutually beneficial partnerships with our consultants.  Since 2008 Ditto Residential has completed 40+ projects and boasts a current development pipeline of $60 million. 
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="carousel-caption" id="home-slide-1">
            <div class="grid_12 omega sz-content">
              <div class="carousel-image"><img src="img/about-doctrine.png" width="222" height="150"></div>
              We believe in great design. Great design is art. Great design is curious. Great design asks “why” and doesn’t give up until the answer is something beautiful.  By centering our design process around a singular big idea—which we select at the start of each project—the final product is always holistic, purposeful and inspired. 
            </div>
          </div>
        </div>
      </div>
      
      <!-- Controls 
      <a class="left carousel-control" href="#ditto-slider" data-slide="prev">
        <span class="glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#ditto-slider" data-slide="next">
        <span class="glyphicon-chevron-right"></span>
      </a>
      -->
    </div>

  </div>
</div>

<div class="slide-section destination" id="work" page-slide="3">
  <div class="klearfix destination-up" page-slide="3">
    
    <div class="gallery-item">
      <div class="gallery-info">
        <label>Edmonds School</label>
        <div class="copy">We converted this 1902 Marsh and Peter-designed elementary school into twenty condominiums and four adjacent townhomes. These residences will be available during the spring of 2014.</div>
        <div class="view"><a href="edmonds-school">View</a></div>
      </div>
      <img src="img/gallery-4.jpg">
    </div>
    <div class="gallery-item">
      <div class="gallery-info">
        <label>1331 Constitution</label>
        <div class="copy">Inventive details and an innovative layout distinguish this inspired, modern home in Capitol Hill. </div>
        <div class="view"><a href="1331-constitution">View</a></div>
      </div>
      <img src="img/gallery-6.jpg">
    </div>
    <div class="gallery-item hd_4 grid_6">
      <div class="gallery-info">
        <label>The Round House</label>
        <div class="copy">We took a simple, though unique, historic edifice and added a sophisticated, concentric rear addition. Both the final interior and exterior concepts for this home are supremely graceful. </div>
        <div class="view"><a href="round-house">View</a></div>
      </div>
      <img src="img/gallery-3.jpg">
    </div>
    <div class="gallery-item">
      <div class="gallery-info">
        <label>Shaw Flats</label>
        <div class="copy">Our most revolutionary project, this nine-unit apartment building showcases our design and development trajectory. Hallmarks of this project include innovative facade design, radical layouts and atypical points of ingress. </div>
        <div class="view"><a href="shaw-flats">View</a></div>
      </div>
      <img src="img/gallery-5.jpg">
    </div>
    <div class="gallery-item">
      <div class="gallery-info">
        <label>1321 + 1323 Constitution</label>
        <div class="copy">1321 and 1323 Constitution were built in 1910 as two single-story commercial buildings. We transformed these structures into two separate gorgeous, light-filled homes.  </div>
        <div class="view"><a href="1321-1323-constitution">View</a></div>
      </div>
      <img src="img/gallery-2.jpg">
    </div>
    <div class="gallery-item">
      <div class="gallery-info">
        <label>Western Avenue</label>
        <div class="copy">This home combines the functionality of a traditional family residence with modern design touches. We seamlessly integrated the modern design of this house into its traditional neighborhood surroundings. </div>
        <div class="view"><a href="western-ave">View</a></div>
      </div>
      <img src="img/gallery-1.jpg">
    </div>

  </div>
</div>

<div class="slide-section destination" id="team" page-slide="4">
  <div class="kontainer klearfix">
    
    <div id="content" class="grid_12 destination-up" page-slide="4">
      <h2 class="sz-headline">Meet Our Team</h2>
      <p class="sz-content">We have carefully cultivated a small team of gifted and diverse individuals, all of whom are industry superstars. By being extremely selective about our hires, we are able to invest a substantial amount of resources to attract and retain top performers.</p>
      <div class="superstar sz-content">
      </div>
      <a href="mailto:jobs@dittodc.com" class="join-us">Join Us</a>
    </div>
    
  </div>
</div>

<div class="slide-section destination" id="ditto6">
  <div class="klearfix">
    
    <div class="team-member">
      <img src="img/team-martin.jpg" alt="Martin - President">
      <div class="member-name">Martin Ditto <span>President</span></div>
      <div class="member-links">
        <div class="link-bio toggle-link"></div>
        <div class="link-mail toggle-link"></div>
      </div>
      <div class="content-bio content-section">
        <div class="content-spacing"></div>
        Martin is chief executive and leads all development activities at Ditto Residential. He is responsible for sourcing acquisitions and investment opportunities, as well as overseeing design direction and growth strategy. He previously worked in development at Bozzuto and Monument Realty. 
Martin has a degree in Economics from Vanderbilt University and holds a Masters of Science in Real Estate from the Carey Business School at Johns Hopkins University. 

      </div>
      <div class="content-mail content-section">
        <div class="content-spacing"></div>
        <a href="mailto:martin@dittodc.com">martin@dittodc.com</a></div>
      <div class="close-content"><span></span></div>
    </div>
    
    <div class="team-member">
      <img src="img/team-brian.jpg" alt="Brian - ">
      <div class="member-name">Brian Burke<span>CFO</span></div>
      <div class="member-links">
        <div class="link-bio toggle-link"></div>
        <div class="link-mail toggle-link"></div>
      </div>
      <div class="content-bio content-section">
        <div class="content-spacing"></div>
        Brian manages all acquisition, finance and business operations at Ditto Residential. He is responsible for long and short-term financing, capitalization and financial strategy. Brian was previously a Senior Director of Corporate Development at Capital One and an Investment Banking Analyst at Bank of America Securities. Brian has a degree in Economics from Stanford University and holds an M.B.A. from the Haas School of Business at UC Berkeley. 

      </div>
      <div class="content-mail content-section">
        <div class="content-spacing"></div>
        <a href="mailto:brian@dittodc.com">brian@dittodc.com</a>
      </div>
      <div class="close-content"><span></span></div>
    </div>
        
        <div class="team-member">
      <img src="img/team-callie.jpg" alt="Callie - Marketing">
      <div class="member-name">Callie Bruemmer<span>Marketing</span></div>
      <div class="member-links">
        <div class="link-bio toggle-link"></div>
        <div class="link-mail toggle-link"></div>
      </div>
      <div class="content-bio content-section">
        <div class="content-spacing"></div>
        Callie is responsible for all communication and marketing activities at Ditto Residential. She directs brand strategy, public relations and events. Callie has a degree in Strategic Communication and International Studies from the School of Journalism and Mass Communication at the University of Wisconsin-Madison. 

      </div>
      <div class="content-mail content-section">
        <div class="content-spacing"></div>
        <a href="mailto:callie@dittodc.com">callie@dittodc.com</a></div>
      <div class="close-content"><span></span></div>
    </div>
        
        <div class="team-member">
      <img src="img/team-chris.jpg" alt="Chris - Sr. Project Manager">
      <div class="member-name">Chris Koelliker<span>VP Construction</span></div>
      <div class="member-links">
        <div class="link-bio toggle-link"></div>
        <div class="link-mail toggle-link"></div>
      </div>
      <div class="content-bio content-section">
        <div class="content-spacing"></div>
        Chris leads all construction operations at Ditto Residential. He oversees a team of project managers and field staff and is responsible for maintaining our high standards of construction. Chris previously worked in both residential and commercial construction, including starting his own homebuilding company. Chris has a Master of Science in Building Construction from Auburn University and is a member of the Design-Build Institute of America. 

      </div>
      <div class="content-mail content-section">
        <div class="content-spacing"></div>
        <a href="mailto:chris@dittodc.com">chris@dittodc.com</a></div>
      <div class="close-content"><span></span></div>
    </div>
        
        <div class="team-member">
      <img src="img/team-dan.jpg" alt="Dan - Development">
      <div class="member-name">Dan Roth<span>Development</span></div>
      <div class="member-links">
        <div class="link-bio toggle-link"></div>
        <div class="link-mail toggle-link"></div>
      </div>
      <div class="content-bio content-section">
        <div class="content-spacing"></div>
        Dan manages development for our multifamily assets. He was previously a Development Consultant at Metropolitan Partnership after 8 years in management and process consulting with Protiviti Inc. Dan has a degree in Operations Management and Computer Information Systems from Indiana University and holds an M.B.A. in Real Estate and Urban Development from George Washington University. 

      </div>
      <div class="content-mail content-section">
        <div class="content-spacing"></div>
        <a href="mailto:dan@dittodc.com">dan@dittodc.com</a></div>
      <div class="close-content"><span></span></div>
    </div>
        
        <div class="team-member">
      <img src="img/team-kayur.jpg" alt="Keyur - Project Manager">
      <div class="member-name">Keyur Shah<span>Project Manager</span></div>
      <div class="member-links">
        <div class="link-bio toggle-link"></div>
        <div class="link-mail toggle-link"></div>
      </div>
      <div class="content-bio content-section">
        <div class="content-spacing"></div>
        Keyur oversees predevelopment, design and construction of our development projects. He was previously a project manager at Revolution Recovery after a tour in Kenya leading a microfinance and professional development corporation. He started his career as an engineer at Clark Construction. 
Keyur has a degree in Architecture from the University of Virginia. 

      </div>
      <div class="content-mail content-section">
        <div class="content-spacing"></div>
        <a href="mailto:keyur@dittodc.com">keyur@dittodc.com</a></div>
      <div class="close-content"><span></span></div>
    </div>
        
        <div class="team-member">
      <img src="img/team-stephanie.jpg" alt="Stephanie - Operations Manager">
      <div class="member-name">Stephanie Erwin<span>Operations</span></div>
      <div class="member-links">
        <div class="link-bio toggle-link"></div>
        <div class="link-mail toggle-link"></div>
      </div>
      <div class="content-bio content-section">
        <div class="content-spacing"></div>
        Stephanie is responsible for asset management and predevelopment activities. She manages all municipal relations, utility coordination and early stage project management of our development projects. Stephanie has a degree in Management Information Systems and Finance from Washington University and is currently working towards a Master of Science in Real Estate Development at New York University. 

      </div>
      <div class="content-mail content-section">
        <div class="content-spacing"></div>
        <a href="mailto:stephanie@dittodc.com">stephanie@dittodc.com</a></div>
      <div class="close-content"><span></span></div>
    </div>
        
        
           <div class="team-member">
      <img src="img/team-tim.jpg" alt="Tim - Project Manager">
      <div class="member-name">Tim Manson<span>Project Manager</span></div>
      <div class="member-links">
        <div class="link-bio toggle-link"></div>
        <div class="link-mail toggle-link"></div>
      </div>
      <div class="content-bio content-section">
        <div class="content-spacing"></div>
        Tim oversees predevelopment, design and construction of our development projects. Tim was previously a superintendent at Clark Construction where he was responsible for multi-family construction at both the CityCenterDC and Square 54/The Avenue developments. Tim has a degree in Economics from Washington and Lee University. 

      </div>
      <div class="content-mail content-section">
        <div class="content-spacing"></div>
        <a href="mailto:tim@dittodc.com">tim@dittodc.com</a></div>
      <div class="close-content"><span></span></div>
    </div>
    
  </div>
</div>

<div class="slide-section destination" id="press" page-slide="5">
  <div class="destination-up" page-slide="5">
    <ul class="press-slider">
      <li style="background:url(img/ditto-home-slide-1.jpg);">
        <div class="slider-overlay">
          <h3 class="sz-headline">Press</h3>
          <div class="content-center"><p class="sz-content">"This modern take on the classic row house is a departure from the traditional homes of Capitol Hill, offering a contemporary respite in a neighborhood awash with history."</p></div>
          <div class="press-name">The Washington Post</div>
          <a href="http://www.washingtonpost.com/blogs/where-we-live/wp/2013/12/13/house-of-the-week-contemporary-capitol-hill-row-house-for-1-395m/?tid=hpModule_34d54128-919e-11e2-bdea-e32ad90da239" target="_blank" class="read">Read</a>
        </div>
      </li>
      <li style="background:url(img/ditto-home-slide-3.jpg);">
        <div class="slider-overlay">
          <h3 class="sz-headline">Press</h3>
          <div class="content-center"><p class="sz-content">"The homes on Capitol Hill, are known for many things. But cutting-edge contemporary design is not one of them. So when DC-based developer Ditto Residential began a modern rebuild of a former retail property, it immediately stood out."</p></div>
          <div class="press-name">Urban Turf</div>
          <a href="http://dc.urbanturf.com/articles/blog/sneak_peek_capitol_hill_retail_transformed_to_modern_townhome/7874" target="_blank" class="read">Read</a>
        </div>
      </li>
      <li style="background:url(img/ditto-home-slide-2.jpg);">
        <div class="slider-overlay">
          <h3 class="sz-headline">Press</h3>
          <div class="content-center"><p class="sz-content">"Repurposing historic buildings is a recurring theme in Washington real estate these days. The latest example of that is Ditto Residential’s new project on Capitol Hill."</p></div>
          <div class="press-name">The Washington Post</div>
          <a href="http://www.washingtonpost.com/blogs/where-we-live/post/former-edmonds-school-on-capitol-hill-will-be-turned-into-condos/2013/04/07/60a8986e-9bd4-11e2-9bda-edd1a7fb557d_blog.html" target="_blank" class="read">Read</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="destination" page-slide="6"></div>

<div class="slide-section" id="connect">
  <div class="klearfix">
    <div class="grid_6" id="hello">
      <h3 class="sz-headline">Say Hello.</h3>
      <form name="hello-form" class="std-form" id="hello-form" method="post" action="ajax/contact">
        <input type="text" name="hello-name" class="add-placeholder hello-top-input required" title="Full Name" id="hello-name" phc="#666666">
        <input type="text" name="hello-email" class="add-placeholder hello-top-input required" title="Email" id="hello-email" phc="#666666">
        <div class="hello-select">
          <label class="default-value">Receive Email Updates</label>
          <label class="selected-value"></label>
          <div class="select-box" data-filter-group="type">
            <a href="" data-filter-value="yes">Receive Email Updates</a>
            <a href="" data-filter-value="no">Do Not Receive Updates</a>
          </div>
        </div>
        <input type="hidden" name="hello-updates" class="required get-updates" value="yes" id="hello-updates">
        <input type="text" name="hello-mind" class="add-placeholder hello-bottom-input required" title="What's on your mind?" id="hello-mind" phc="#666666">
        <div class="klearfix">
          <div id="comment-invalid" class="submit-invalid">Please fill in the required fields</div>
          <input type="submit" name="submit-btn" id="hello-send" class="send submit-btn" value="Send It">
          <div id="comment-sending" class="submit-sending">Sending</div>
          <input type="button" id="hello-clear" class="reset" value="Reset">
        </div>
      </form>
      <div class="hello-links">
        <a href="mailto:info@dittodc.com" class="mail">info@dittodc.com</a>
        <div class="phone">(202) 905-2729</div>
        <a href="https://maps.google.com/maps?q=2217+14th+St+NW+Suite+300+Washington,+DC+20009&ie=UTF-8&hq=&hnear=0x89b7b7e7153bdef7:0x70a53e248719f370,2217+14th+St+NW+%23300,+Washington,+DC+20009&gl=us&ei=O5veUqCQKNTOkQfEpYHICw&ved=0CCoQ8gEwAA" target="_blank" class="pin">2217 14th St NW | Suite 300<br>Washington, DC 20009</a>
      </div>
      
    </div>
    <div class="grid_6 omega destination-up" id="social" page-slide="6">
    
      <div class="social-row">
        <div class="grid_6 social-card">
          <a class="sbtn-container" href="https://www.facebook.com/pages/Ditto-Residential/186550631371629" target="_blank">
            <div class="sbtn sbtn-fb" data-content="Like Us"><span></span></div>
          </a>
        </div>
        <div class="grid_6 social-card omega">
          <a class="sbtn-container" href="https://www.twitter.com/martin_ditto" target="_blank">
            <div class="sbtn sbtn-twitter" data-content="Follow Us"><span></span></div>
          </a>
        </div>
      </div>
      <div class="social-row">
        <div class="grid_6 social-card">
          <a class="sbtn-container" href="http://instagram.com/dittoresidential" target="_blank">
            <div class="sbtn sbtn-instagram" data-content="Follow Us"><span></span></div>
          </a>
        </div>
        <div class="grid_6 social-card omega">
          <a class="sbtn-container" href="http://houzz.com/pro/dittoresidential" target="_blank">
            <div class="sbtn sbtn-houzz" data-content="Full Portfolio"><span></span></div>
          </a>
        </div>
      </div>
      
    </div>
  </div>
  <div id="back-to-top">Top</div>
</div>

<div class="slide-section" id="ditto-footer">
  <div class="klearfix">
    
    <div class="grid_6 left">&copy; 2014 Ditto Residential</div>
    <div class="grid_6 omega right">
      Site By <a href="http://bravepeople.co/" target="_blank">Brave People</a>
    </div>
    
  </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.stellar.min.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/video.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46649102-1', 'dittodc.com');
  ga('send', 'pageview');
</script>

</body>
</html>